/venv
/models
/datasets/ChatGPT/generative/stories.json
/results/Semantic Research
/filtered_tinystories

blocks.json
token_stats.json

# Ignore pdf and xlsx files
*.pdf
*.xlsx



*.env

*__pycache__/