/venv
/models
/datasets/ChatGPT/generative/stories.json
/datasets/open_chat/generative/cut
/results/Semantic Research
/filtered_tinystories

blocks.json
token_stats.json

# Ignore pdf, excel, and slurm files
*.pdf
*.xlsx
*.slurm



*.env

*__pycache__/